/Expression2Sql/obj/Debug/netcoreapp2.1/*.cache
/Expression2Sql/obj/*.cache
/Expression2SqlTest/obj/Debug/netcoreapp2.1/*.cache
/Expression2SqlTest/obj/*.cache
/IDbConnectionExtend/obj/Debug/netcoreapp2.1/*.cache
/IDbConnectionExtend/obj/*.cache
/IDbConnectionExtendTest/obj/Debug/netcoreapp2.1/*.cache
/IDbConnectionExtendTest/obj/*.cache
