/src/Expression2Sql/obj/Debug/netcoreapp2.1/*.cache
/src/Expression2Sql/obj/*.cache
/src/Expression2Sql/obj/*
/src/Expression2Sql/bin/*
/src/Expression2SqlTest/obj/Debug/netcoreapp2.1/*.cache
/src/Expression2SqlTest/obj/*.cache
/src/Expression2SqlTest/obj/*
/src/Expression2SqlTest/bin/*
/src/IDbConnectionExtend/obj/Debug/netcoreapp2.1/*.cache
/src/IDbConnectionExtend/obj/*.cache
/src/IDbConnectionExtend/obj/*
/src/IDbConnectionExtend/bin/*
/src/IDbConnectionExtendTest/obj/Debug/netcoreapp2.1/*.cache
/src/IDbConnectionExtendTest/obj/*.cache
/src/IDbConnectionExtendTest/obj/*
/src/IDbConnectionExtendTest/bin/*
